<div class="px-4 py-8 w-full">
  <div *ngIf="!search">
    <div class="flex flex-col">
      <div class="flex justify-between">
        <a routerLink=".." class="py-4 pr-4"
          ><img src="assets/icons/Back.svg" alt=""
        /></a>
        <div class="flex gap-2">
          <button
            nz-button
            nzType="link"
            nzShape="round"
            class="bg-rouge bg-opacity-10 text-rouge text-sm font-medium"
            (click)="createTplModal(tplContent)"
          >
            Filter
          </button>
          <button
            nz-button
            nzType="link"
            nzShape="circle"
            class="bg-rouge bg-opacity-10 text-rouge text-sm font-medium flex justify-center items-center"
            (click)="openSearch()"
          >
            <i nz-icon nzType="search"></i>
          </button>
        </div>
      </div>
      <div class="text-22 font-bold mt-2">Devices</div>
      <div class="flex flex-wrap gap-2 mt-3">
        <div
          *ngFor="let dt of deviceFilters"
          class="flex items-center text-sm text-black bg-gray1 px-3 py-2 rounded-full"
        >
          <div>{{ dt }}</div>
          <button
            nz-button
            nzType="link"
            nzShape="circle"
            class="bg-gray4 text-black flex justify-center items-center"
            (click)="removeType(dt)"
          >
            <i nz-icon nzType="close"></i>
          </button>
        </div>
        <div
          *ngFor="let fl of floorFilters"
          class="flex items-center text-sm text-black bg-gray1 px-3 py-2 rounded-full"
        >
          <div>{{ fl + "th floor" }}</div>
          <button
            nz-button
            nzType="link"
            nzShape="circle"
            class="bg-gray4 text-black flex justify-center items-center"
            (click)="floorRemove(fl)"
          >
            <i nz-icon nzType="close"></i>
          </button>
        </div>
      </div>
      <div class="mt-6">
        <div *ngFor="let dev of filteredDevices">
          <div class="device-item py-3 cursor-pointer" (click)="goDeviceDetail(dev.id, dev.device_name)">
            <div class="flex justify-between items-center mb-0.5">
              <div class="flex items-center gap-2">
                <div><img src="assets/icons/clog-2.svg" alt="" /></div>
                <div class="text-lg text-black">{{ dev.device_name }}</div>
              </div>
              <div class="flex gap-1">
                <div class="flex items-center">
                  <div>R</div>
                  <div
                    class="flex justify-center items-center rounded-full w-3 h-3 ml-0.5"
                    [ngClass]="dev.radio_status ? 'bg-green1' : 'bg-rouge'"
                  >
                    <img
                      *ngIf="dev.radio_status"
                      src="assets/icons/check.svg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="flex items-center">
                  <div>B</div>
                  <div
                    class="flex justify-center items-center rounded-full w-3 h-3 ml-0.5"
                    [ngClass]="dev.battery_status ? 'bg-green1' : 'bg-rouge'"
                  >
                    <img
                      *ngIf="dev.battery_status"
                      src="assets/icons/check.svg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="text-sm mb-2">{{ dev.device_type }}</div>
            <div class="flex justify-between items-center text-sm">
              <div
                *ngIf="!dev.radio_status && !dev.battery_status"
                class="flex gap-2 text-white"
              >
                <div class="text-sm bg-rouge rounded p-2">Radio low</div>
                <div class="text-sm bg-rouge rounded p-2">Battery low</div>
              </div>
              <div *ngIf="dev.radio_status && dev.battery_status">
                {{ dev.floor + " " + dev.position }}
              </div>
              <div>{{ dev.date_updated }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #tplContent>
      <div class="flex justify-between mb-10">
        <div class="text-22 font-bold">Filter</div>
        <button
          (click)="destroyModal()"
          nz-button
          nzType="link"
          nzShape="circle"
          class="bg-gray4 text-black flex justify-center items-center"
        >
          <i nz-icon nzType="close"></i>
        </button>
      </div>

      <div class="text-base font-semibold mt-8">Show only</div>
      <div class="flex flex-wrap gap-2 mt-3">
        <button
          *ngFor="let dt of device_types"
          type="button"
          nz-button
          nzType="link"
          nzShape="round"
          class="text-sm px-2 hover:text-opacity-80"
          (click)="selectType(dt)"
          [ngClass]="
            deviceFilters.includes(dt)
              ? 'text-white bg-rouge'
              : 'text-black bg-gray1'
          "
        >
          {{ dt }}
        </button>
      </div>

      <div class="text-base font-semibold mt-8">Select floors</div>
      <div class="grid grid-cols-7 gap-2 mt-3">
        <div *ngFor="let fl of [8, 9, 10, 11]">
          <button
            type="button"
            nz-button
            nzType="link"
            nzShape="circle"
            class="text-sm px-2 hover:text-opacity-80"
            (click)="selectFloor(fl)"
            [ngClass]="
              floorFilters.includes(fl)
                ? 'text-white bg-rouge'
                : 'text-black bg-gray1'
            "
          >
            {{ fl }}
          </button>
        </div>
      </div>
      <div class="grid grid-cols-7 mt-3">
        <div *ngFor="let fl of [1, 2, 3, 4, 5, 6, 7]">
          <button
            type="button"
            nz-button
            nzType="link"
            nzShape="circle"
            class="text-sm px-2 hover:text-opacity-80"
            (click)="selectFloor(fl)"
            [ngClass]="
              floorFilters.includes(fl)
                ? 'text-white bg-rouge'
                : 'text-black bg-gray1'
            "
          >
            {{ fl }}
          </button>
        </div>
      </div>
      <div class="grid grid-cols-7 mt-3">
        <div *ngFor="let fl of [-1]">
          <button
            type="button"
            nz-button
            nzType="link"
            nzShape="circle"
            class="text-sm px-2 hover:text-opacity-80"
            (click)="selectFloor(fl)"
            [ngClass]="
              floorFilters.includes(fl)
                ? 'text-white bg-rouge'
                : 'text-black bg-gray1'
            "
          >
            {{ fl }}
          </button>
        </div>
      </div>

      <button
        type="button"
        nz-button
        [disabled]="deviceFilters.length==0 && floorFilters.length==0"
        nzType="link"
        nzShape="round"
        class="text-base text-white bg-rouge h-14 w-full hover:text-opacity-80 mt-10"
        [ngClass]="deviceFilters.length==0 && floorFilters.length==0? 'bg-gray5':'bg-rouge'"
        (click)="showResults()"
      >
        Show results
      </button>
    </ng-template>
    <div *ngIf="loading" class="w-full flex justify-center mt-24">
      <img class="w-24 h-24" src="assets/images/loading.gif" alt="" />
    </div>
  </div>

  <!-- Search panel -->
  <div *ngIf="search" class="w-full">
    <div class="relative w-full text-center text-lg font-semibold">
      <button
        nz-button
        nzType="link"
        nzShape="circle"
        class="absolute left-0 bg-gray4 text-black flex justify-center items-center"
        (click)="search = false"
      >
        <i nz-icon nzType="close"></i>
      </button>
      Search devices
    </div>
    <input
      nz-input
      nzBorderless
      class="w-full text-base py-3 px-3.5 mt-6 bg-gray2"
      placeholder="Search here"
      (input)="searchChanged($event.target.value)"
    />
    <div class="mt-6">
      <div
        *ngIf="searchedDevices.length == 0"
        class="text-center pt-14 text-base text-black text-opacity-50"
      >
        No results
      </div>
      <div *ngFor="let dev of searchedDevices">
        <div class="device-item py-3 cursor-pointer" (click)="goDeviceDetail(dev.id, dev.device_name)">
          <div class="flex justify-between items-center mb-0.5">
            <div class="flex items-center gap-2">
              <div><img src="assets/icons/clog-2.svg" alt="" /></div>
              <div class="text-lg text-black">{{ dev.device_name }}</div>
            </div>
            <div class="flex gap-1">
              <div class="flex items-center">
                <div>R</div>
                <div
                  class="flex justify-center items-center rounded-full w-3 h-3 ml-0.5"
                  [ngClass]="dev.radio_status ? 'bg-green1' : 'bg-rouge'"
                >
                  <img
                    *ngIf="dev.radio_status"
                    src="assets/icons/check.svg"
                    alt=""
                  />
                </div>
              </div>
              <div class="flex items-center">
                <div>B</div>
                <div
                  class="flex justify-center items-center rounded-full w-3 h-3 ml-0.5"
                  [ngClass]="dev.battery_status ? 'bg-green1' : 'bg-rouge'"
                >
                  <img
                    *ngIf="dev.battery_status"
                    src="assets/icons/check.svg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="text-sm mb-2">{{ dev.device_type }}</div>
          <div class="flex justify-between items-center text-sm">
            <div
              *ngIf="!dev.radio_status && !dev.battery_status"
              class="flex gap-2 text-white"
            >
              <div class="text-sm bg-rouge rounded p-2">Radio low</div>
              <div class="text-sm bg-rouge rounded p-2">Battery low</div>
            </div>
            <div *ngIf="dev.radio_status && dev.battery_status">
              {{ dev.floor + "th - " + dev.position }}
            </div>
            <div>{{ dev.date_updated }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
