<div *ngIf="token_valid && !success" class="px-4 pt-7 pb-4 w-full h-screen overflow-hidden">
  <div class="relative flex flex-col h-full">
    <a routerLink="/auth/login" class="py-4 pr-4 cursor-pointer"
    >
      <img src="assets/icons/Back.svg" alt="" />
    </a>
    <div class="text-22 font-bold mb-8">Set new password</div>
    <div *ngIf="submitted && resetForm.hasError('notSame')" class="text-rouge">
      Password doesn't match!
    </div>
    <div *ngIf="submitted && hasError" class="text-rouge">
      Something was wrong. Try again.
    </div>
    <form
      nz-form
      name="loginForm"
      [formGroup]="resetForm"
      (ngSubmit)="onSubmit()"
      novalidate
      class="flex flex-col justify-center"
    >
      <nz-form-item class="mb-5">
        <input
          formControlName="password"
          type="password"
          nz-input
          nzBorderless
          class="text-base py-4 px-3 bg-gray2"
          placeholder="New password"
        />
        <div
          *ngIf="submitted && f.password.errors"
          class="text-sm text-red-500 pl-3"
        >
          <div *ngIf="f.password.errors.required">Required</div>
        </div>
      </nz-form-item>

      <nz-form-item class="mb-5">
        <input
          formControlName="passwordConfirm"
          type="password"
          nz-input
          nzBorderless
          class="text-base py-4 px-3 bg-gray2"
          placeholder="Re-enter new password"
        />
        <div
          *ngIf="submitted && f.passwordConfirm.errors"
          class="text-sm text-red-500 pl-3"
        >
          <div *ngIf="f.passwordConfirm.errors.required">Required</div>
        </div>
      </nz-form-item>
      
      <div class="absolute bottom-4 w-full">
        <button
          type="submit"
          nz-button
          nzType="link"
          nzShape="round"
          class="
            text-base text-white
            bg-rouge
            h-14
            w-full
            hover:text-opacity-80
          "
        >
          Set new password
        </button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="!token_valid" class="relative h-screen w-full">
  <div class="absolute px-4 w-full" style="top: 50%; transform: translate(0, -100%);">
    <div class="flex justify-center">
      <img src="assets/icons/failed.svg" alt="" />
    </div>
    <div class="text-22 font-bold leading-7 text-center mt-4">
      Password reset link has expired
    </div>
  </div>

  <div class="absolute bottom-4 w-full">
    <div class="px-4">
      <button
        type="button"
        nz-button
        routerLink="/auth/login"
        nzType="link"
        nzShape="round"
        class="
          text-base text-white
          bg-rouge
          h-14
          w-full
          hover:text-opacity-80
        "
      >
        Sign in again
      </button>
    </div>
  </div>
</div>

<div *ngIf="success" class="relative h-screen w-full">
  <div class="absolute px-4 w-full" style="top: 50%; transform: translate(0, -100%);">
    <div class="flex justify-center">
      <img src="assets/icons/success-check.svg" alt="" />
    </div>
    <div class="text-22 font-bold leading-7 text-center mt-4">
      Password reset successfully
    </div>
  </div>

  <div class="absolute bottom-4 w-full">
    <div class="px-4">
      <button
        type="button"
        nz-button
        routerLink="/auth/login"
        nzType="link"
        nzShape="round"
        class="
          text-base text-white
          bg-rouge
          h-14
          w-full
          hover:text-opacity-80
        "
      >
        Sign in again
      </button>
    </div>
  </div>
</div>