@media screen and (max-width:640px) {
  ::ng-deep .ant-modal-content {
    border-radius: 12px 12px 0 0 !important;
    position: absolute;
    height: max-content !important;
    bottom: 0;
    width: 100vw !important;
    min-width: 100vw !important;
  }
}
.border1 {
  border: 1px solid rgba(74, 74, 74, 0.15);
}
::ng-deep .ant-modal-content {
  border-radius: 0;
  position: absolute;
  height: 100%;
  bottom: 0;
  width: 65vw;
  min-width: 640px;
  background-color: #F5F5F5;
}