<div class="px-4 py-8 w-full h-screen" [ngClass]="showUpdate? 'bg-white' : 'bg-gray2'">
  <div *ngIf="loading" class="w-full h-full relative">
    <img
      class="absolute top-1/2 left-1/2 transform -translate-y-2/4 -translate-x-2/4 w-24 h-24"
      src="assets/images/loading.gif"
      alt=""
    />
  </div>
  <div *ngIf="!loading" class="relative h-full">
    <div class="flex justify-between items-center">
      <div>
        <img src="assets/icons/thingsfactory-logo.svg" alt="" />
        <div class="text-sm font-semibold mt-2">BuildUp!</div>
      </div>
      <a class="relative" routerLink="events">
        <img src="assets/icons/bell.svg" alt="" />
        <div
          *ngIf="event"
          class="absolute bg-red-500 rounded-full w-2.5 h-2.5 right-0.5 -top-0.5"
        ></div>
      </a>
    </div>

    <!-- notification panel -->
    <div
      *ngIf="event"
      class="text-white p-4 mt-3.5 cursor-pointer"
      [ngClass]="
        event?.eventDescription === 'Water leak detected' ? 'bg-rouge' : 'bg-gray3'
      "
      (click)="createTplModal(tplContent)"
    >
      <div class="flex items-center gap-3">
        <img src="assets/icons/{{ warnImg }}.svg" alt="" />
        <div>
          <div class="text-base font-medium">{{ event?.eventDescription }}</div>
          <div class="text-sm">{{ event?.eventCreatedDate }}</div>
        </div>
      </div>
      <div class="text-sm mt-2">
        {{ event ? event.floor + ' ' + event.position : "" }}
      </div>
    </div>

    <!-- address panel -->
    <div class="bg-white p-4 rounded-xl mt-6">
      <div *ngIf="!building" class="text-22 text-black font-bold">No building exists</div>
      <div *ngIf="building" class="text-22 text-black font-bold">{{ building.building }}</div>
      <div *ngIf="building" class="text-xs opacity-50 mt-3">
        {{ building.buildingAddress }} {{ building.buildingCity }} {{building.buildingState}} {{building.buildingCountry}}
      </div>
    </div>

    <!-- count section -->
    <div class="grid grid-cols-2 gap-3 mt-3">
      <div class="bg-white p-4 rounded-xl border border-solid border-black border-opacity-8">
        <div class="text-sm text-brown font-medium">Equipment</div>
        <div class="text-2xl font-bold mt-2">{{ equipments }}</div>
      </div>
      <div class="bg-white p-4 rounded-xl border border-solid border-black border-opacity-8">
        <div class="text-sm text-brown font-medium">Users</div>
        <div class="text-2xl font-bold mt-2">{{ users }}</div>
      </div>
      <a routerLink="/devices" class="bg-white p-4 rounded-xl col-span-2 flex items-center justify-between border border-solid border-black border-opacity-8">
        <div>
          <div class="text-sm text-brown font-medium">Devices</div>
          <div class="text-2xl text-black font-bold mt-2">{{ devices }}</div>
        </div>
        <img src="assets/icons/right.svg" alt="" />
      </a>
    </div>
    <div class="absolute bottom-0 text-center w-full">
      <button
        *ngIf="!showUpdate"
        type="button"
        nz-button
        nzType="link"
        nzShape="round"
        class="text-base text-black bg-white h-10 hover:text-opacity-80"
        (click)="showUpdate=true"
      >
        Update system status
      </button>
      
    </div>

    <ng-template #tplContent>
      <div class="flex justify-between mb-5">
        <div>
          <div class="text-22 font-bold">{{ event?.eventDescription }}</div>
          <div class="text-sm">{{ event.eventCreatedDate }}</div>
        </div>
        <div class="bg-gray4 text-black rounded-full flex justify-center items-center w-7.5 h-7.5 cursor-pointer" (click)="destroyModal()">
          <img src="assets/icons/close.svg" alt="" />
        </div>
      </div>
      <div class="h-px w-full"></div>
      <div class="mt-5">
        <div class="text-sm flex gap-2 items-center">
          <div class="w-4">
            <img class="mx-auto" src="assets/icons/marker.svg" alt="" />
          </div>
          <div *ngIf="event">
            {{ event.floor }} &nbsp;&#183;&nbsp; {{ event.position }}
          </div>
        </div>
        <div class="text-sm flex gap-2 items-center mt-3">
          <div class="w-4">
            <img class="mx-auto" src="assets/icons/clock.svg" alt="" />
          </div>
          <div>{{ event.eventCreatedDate1 }}</div>
        </div>
      </div>
      <div class="w-max mt-3">
        <div 
          class="flex bg-gray1 rounded-full px-4 py-2.5 gap-4"
          (click)="goDeviceDetail(event.device_id, event.device_name)"
        >
          <div class="text-sm">
            {{!event.eventDescription==event_type.low_battery || !event.eventDescription==event_type.low_radio? 'Detected by ' : ''}}
            <span class="text-rouge">{{ event.device_name }}</span>
          </div>
          <img src="assets/icons/right.svg" alt="" />
        </div>
      </div>
      <div *ngIf="!event.eventDescription==event_type.low_battery || !event.eventDescription==event_type.low_radio" class="text-sm font-semibold mt-8">Suggested action</div>
      <div *ngIf="!event.eventDescription==event_type.low_battery || !event.eventDescription==event_type.low_radio" class="text-sm mt-3">
        Check the area for any water damage and notify your supervisor. The
        water valve should be open only after the water leak has been fixed.
      </div>
    </ng-template>
  </div>

</div>

<div *ngIf="showUpdate" class="absolute inset-0 w-full h-screen bg-white bg-opacity-50">
  <div class="absolute bottom-0 py-8 text-center w-full bg-white bg-opacity-100">
    <div class="text-base font-semibold mb-1">Update system status?</div>
    <div class="text-sm mb-4 opacity-55">This negatively affects devices’ battery life</div>
    <div class="flex justify-around">
      <button
        type="button"
        nz-button
        nzType="link"
        nzShape="round"
        class="text-sm text-black font-semibold bg-gray2 h-10 hover:text-opacity-80"
        (click)="showUpdate=false"
      >
        No, cancel
      </button>
      <button
        type="button"
        nz-button
        nzType="link"
        nzShape="round"
        class="text-sm text-rouge font-semibold bg-gray2 h-10 hover:text-opacity-80"
        (click)="update()"
      >
        Yes, update
      </button>
    </div>
  </div>
</div>