<div *ngIf="!loading" class="px-4 py-8 w-full">
  <div class="flex flex-col">
    <div class="flex">
      <a routerLink=".." class="py-4 pr-4"
        ><img src="assets/icons/Back.svg" alt=""
      /></a>
    </div>
    <div class="text-22 font-bold mt-2">Active events</div>
    <div
      *ngIf="event"
      (click)="createTplModal(tplContent, event, false)"
      class="grid gap-x-3 mt-4"
      style="grid-template-columns: max-content auto max-content"
    >
      <div class="flex justify-content items-center">
        <img src="assets/icons/{{ getWarnImg(event, 0) }}.svg" alt="" />
      </div>
      <div>
        <div class="text-base font-medium">{{ event?.eventDescription }}</div>
        <div class="text-sm">{{ event?.eventCreatedDate }}</div>
      </div>
      <div class="row-span-2 flex justify-content items-center">
        <img src="assets/icons/right.svg" alt="" />
      </div>
      <div></div>
      <div class="text-xs text-opacity-50 mt-3">
        {{ event ? event.floor + "th floor - " + event.position : "" }}
      </div>
    </div>

    <div class="mt-12">
      <div class="text-sm text-brown">History</div>
      <div *ngFor="let evt of events">
        <div
          (click)="createTplModal(tplContent, evt, true)"
          class="grid gap-x-3 py-4 event-item"
        >
          <div class="flex justify-content items-center">
            <img src="assets/icons/{{ getWarnImg(evt, 1) }}.svg" alt="" />
          </div>
          <div>
            <div class="text-sm">{{ evt.eventDescription }}</div>
            <div class="text-xs text-opacity-50">{{ evt.eventCreatedDate }}</div>
          </div>
          <div class="row-span-2 flex justify-content items-center">
            <img src="assets/icons/right.svg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <ng-template #tplContent let-params>
      <div class="flex justify-between mb-5">
        <div>
          <div class="text-22 font-bold">{{ params.value?.eventDescription }}</div>
          <div class="text-sm">{{ params.value.eventCreatedDate }}</div>
        </div>
        <div class="bg-gray4 text-black rounded-full flex justify-center items-center w-7.5 h-7.5 cursor-pointer" (click)="destroyModal()">
          <img src="assets/icons/close.svg" alt="" />
        </div>
      </div>
      <div class="h-px w-full"></div>
      <div class="mt-5">
        <div class="text-sm flex gap-2 items-center">
          <div class="w-4">
            <img class="mx-auto" src="assets/icons/marker.svg" alt="" />
          </div>
          <div *ngIf="params.value">
            {{ params.value.floor }} &nbsp;&#183;&nbsp; {{ params.value.position }}
          </div>
        </div>
        <div class="text-sm flex gap-2 items-center mt-3">
          <div class="w-4">
            <img class="mx-auto" src="assets/icons/clock.svg" alt="" />
          </div>
          <div>{{ params.value.eventCreatedDate1 }}</div>
        </div>
      </div>
      <div class="w-max mt-3">
        <div 
          class="flex bg-gray1 rounded-full px-4 py-2.5 gap-4 cursor-pointer"
          (click)="goDeviceDetail(params.value.device_id, params.value.device_name)"
        >
          <div class="text-sm">
            Detected by
            <span class="text-rouge">{{ params.value.device_name }}</span>
          </div>
          <img src="assets/icons/right.svg" alt="" />
        </div>
      </div>
      <div class="text-sm font-semibold mt-8">Suggested action</div>
      <div class="text-sm mt-3">
        Check the area for any water damage and notify your supervisor. The
        water valve should be open only after the water leak has been fixed.
      </div>
    </ng-template>
  </div>
</div>
<div *ngIf="loading" class="w-full h-screen relative">
  <img
    class="absolute top-1/2 left-1/2 transform -translate-y-2/4 -translate-x-2/4 w-24 h-24"
    src="assets/images/loading.gif"
    alt=""
  />
</div>