.event-item {
  position: relative;
  grid-template-columns: max-content auto max-content;
}

.event-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #F0F0F0;
}

::ng-deep .ant-modal-content {
  border-radius: 12px 12px 0 0;
  position: absolute;
  bottom: 0;
  width: 100vw;
}
